.pro-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#web-1 {
    background-image: url(../project/student_1/img_1/web_sum_1.png);
}

#web-2 {
    background-image: url(../project/student_2/img_2/web_sum_2.jpg);
}

#web-3 {
    background-image: url(../project/student_3/img_3/web_sum_3.png);
}

#web-4 {
    background-image: url(../project/student_4/img_4/wed_sum_4.png);
}

#web-5 {
    background-image: url(../project/student_5/img_5/web_sum_5.jpg);
}

#web-6 {
    background-image: url(../project/student_6/img_6/web_sum_6.jpg);
}

#web-7 {
    background-image: url(../project/student_7/img_7/web_sum_7.png);
}

#web-8 {
    background-image: url(../project/student_8/img_8/web_sum_8.png);
}

#web-9 {
    background-image: url(../project/student_9/img_9/web_sum_9.png);
}

#web-10 {
    background-image: url(../project/student_10/img_10/web_sum_10.png);
}

#web-11 {
    background-image: url(../project/student_11/img_11/web_sum_11.jpg);
}

#web-12 {
    background-image: url(../project/student_12/img_12/web_sum_12.jpg);
}

#web-13 {
    background-image: url(../project/student_13/img_13/web_sum_13.png);
}

#web-14 {
    background-image: url(../project/student_14/img_14/web_sum_14.jpg);
}

#web-15 {
    background-image: url(../project/student_15/img_15/web_sum_15.jpg);
}









