.pro-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#inter-1 {
    background-image: url(../project/student_1/img_1/interactive_sum_1.jpg);
}

#inter-2 {
    background-image: url(../project/student_2/img_2/interactive_sum_2.png);
}

#inter-3 {
    background-image: url(../project/student_3/img_3/interactive_sum_3.jpg);
}

#inter-4 {
    background-image: url(../project/student_4/img_4/interative_sum_4.jpg);
}

#inter-5 {
    background-image: url(../project/student_5/img_5/interactive_sum_5.png);
}

#inter-6 {
    background-image: url(../project/student_6/img_6/interactive_sum_6.jpg);
}

#inter-7 {
    background-image: url(../project/student_7/img_7/interactive_sum_7.png);
}

#inter-8 {
    background-image: url(../project/student_8/img_8/interactive_preview_8.jpg);
}

#inter-9 {
    background-image: url(../project/student_9/img_9/interactive_sum_9.jpg);
}

#inter-10 {
    background-image: url(../project/student_10/img_10/interactive_sum_10.jpg);
}

#inter-11 {
    /*background-image: url(../project/student_11/img_11/interactive_sum_11.jpg);*/
    background-image: url(../project/student_6/img_6/interactive_sum_6.jpg);
}

#inter-12 {
    background-image: url(../project/student_12/img_12/interactive_sum_12.png);
}

#inter-13 {
    background-image: url(../project/student_13/img_13/interactive_sum_13.jpg);
}

#inter-14 {
    background-image: url(../project/student_14/img_14/interactive_sum_14.jpg);
}

#inter-15 {
    background-image: url(../project/student_15/img_15/interactive_sum_15.jpg);
}