@media all and (max-width: 859px) {
    
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    #wrap {
        width: 100%;
        overflow: hidden;
        cursor: default;
    }
    
    header, section, footer {
        width: 100%;
        position: relative;
    }
    
    .container, #in-footer {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    /**/
    
    header {
        height: 60px;
        /*background-color: lightblue;*/
        z-index: 1;
    }
    
    #header-logo {
        width: 90px;
        float: left;
        margin-top: 32px;
        margin-left: 110px;
    }
    
    #header-menu-wrap {
        display: none;
    }
    
    /*header end*/
    
    
    #section-1 {
        width: 100%;
        height: 60vh;
        background-color: #5C5A4A;
        margin-top: -70px;
    }
    
    #sc1-line {
        width: 1px;
        height: 60vh;
        background-color: #ffffff;
        opacity: 0.3;
        position: absolute;
        top: 0;
        z-index: 3;
        left: 80px;
        float: left;
    }
    
    #sc1-back {
        width: 750px;
        position: absolute;
        top: 125px;
        left: 50%;
        margin-left: -375px;
    }
    
    #bannerWrap {
        width: 400px;
        height: 300px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 190px;
        left: 50%;
        margin-left: -200px;
        z-index: 1;
    }
    
    #sc1-bigtxt-wrap {
        width: 100%;
        /*background-color: lightgray;*/
    }
    
    #sc-bt-1 {
        width: 420px;
        position: absolute;
        z-index: 10;
        margin-left: -10px;
    }
    
    #sc-bt-2 {
        width: 220px;
        margin-top: 65px;
        position: absolute;
        z-index: 10;
    }
    
    #sc-bt-3 {
        width: 270px;
        margin-left: 120px;
        margin-top: 25px;
        margin-top: 130px;
        position: absolute;
        z-index: 10;
    }
    
    #sc-bt-4 {
        width: 280px;
        margin-top: 195px;
        position: absolute;
        z-index: 10;
    }
    
    #sc1-banner {
        width: 600px;
        position: absolute;
        top: -55px;
        left: 50%;
        margin-left: -300px;
    }
    
    #sc1-txt-wrap, #arrow-wrap {
        display: none;
    }
    
    /*section-1 end*/
    
    
    #section-2 {
        height: 490px;
        margin-top: 180px;
        /*background-color: lightcyan;*/
    }
    
    #sc2-line {
        width: 100%;
        height: 1px;
        background-color: #bebebe;
        position: absolute;
        top: 51px;
        left: 0;
    }
    
    .sc2-line-ea {
        width: 80px;
        height: 3px;
        background-color: #C5AB7C;
        margin: 0 auto;
        display: none;
    }
    
    .sc2-line-add {
        display: block;
    }
    
    #sc2-menu-wrap {
        width: 100%;
        height: 50px;
        /*background-color: lightgoldenrodyellow;*/
        font: 14px/50px 'NanumSquareNeo-Variable';
        margin: 0 auto;
    }
    
    .sc2-menu {
        width: 25%;
        float: left;
        cursor: pointer;
        color: rgba(0,0,0,0.5);
        text-align: center;
    }
    
    #sc2-menu-last {
        margin-right: 0;
    }
    
    .sc2-add {
        font-weight: 600;
        color: rgb(0,0,0,1);
    } /*addclass*/
    
    #sc2-right-btn {
        display: none;
    }
    
    #sc2-con-all {
        width: 100%;
        height: 370px;
        /*background-color: lightcoral;*/
        position: relative;
        top: 40px;
        overflow: hidden;
    }
    
    .sc2-con-wrap {
        width: 2000px;
        height: 370px;
        /*background-color: lightgoldenrodyellow;*/
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .sc2-con {
        width: 215px;
        height: 370px;
        /*background-color: lightgreen;*/
        float: left;
    }
    
    .sc2-con:last-child {
        margin-right: 0;
    }
    
    .sc2-con-img {
        width: 195px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .sc2-txt-wrap {
        cursor: pointer;
    }
    
    .sc2-txt {
        width: 195px;
        font: 14px/23px 'NanumSquareNeo-Variable';
        text-align: center;
        margin-top: 15px;
    }
    
    .sc2-pr {
        width: 195px;
        font: 14px/23px 'NanumSquareNeo-Variable';
        margin-right: 2px;
        text-align: center;
        color: rgba(0,0,0,0.5);
    }
    
    #sc2-con-wrap-2, #sc2-con-wrap-3,#sc2-con-wrap-4 {
        display: none;
    }
    
    .sc2-arrow-wrap {
        width: 66px;
        height: 30px;
        /*background-color: lawngreen;*/
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -33px;
    }
    
    .sc2-arrow {
        width: 28px;
        height: 28px;
        border: 1px solid #9f9f9f;
        box-sizing: border-box;
        border-radius: 5px;
        float: left;
        font: 16px/28px 'NanumSquareNeo-Variable';
        text-align: center;
        color: #717171;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .sc2-arrow:last-child {
        margin-right: 0;
    }
    
    #sc2-arrow-wrap-2, #sc2-arrow-wrap-3, #sc2-arrow-wrap-4 {
        display: none;
    }
    
    /*section-2 end*/
    
    
    #section-3 {
        height: /*1900px*/ 227vw;
        margin-top: 90px;
        /*background-color: lightcyan;*/
    }
    
    #sc3-left-wrap {
        width: 100%;
        height: /*470px*/ 62vw;
        float: left;
    }
    
    #sec3-title-txt-wrap {
        width: 100%;
        height: 90px;
        /*background-color: lightgoldenrodyellow;*/
        float: left;
    }
    
    .sec-title {
        font: 600 14px/14px 'NanumSquareNeo-Variable';
        margin-bottom: 15px;
    }
    
    .sec-sub-txt {
        font: 13px/13px 'NanumSquareNeo-Variable';
        float: left;
    }
    
    .sec-right-btn {
        font: 13px/13px 'NanumSquareNeo-Variable';
        float: right;
    }
    
    #sc3-con-wrap {
        width: 100%;
        height: /*350px*/ 40.745vw;
        /*background-color: lightgreen;*/
        float: left;
    }
    
    .sc3-con {
        width: /*347.5px*/ 39vw;
        height: /*410px*/ 47.729vw;
        float: left;
        background-color: #F7F7F7;
        margin-right: /*20px*/ 4vw;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .sc3-con:nth-child(2), .sc3-con:last-child {
        margin-right: 0;
    }
    
    .sc3-con:nth-child(3), .sc3-con:last-child {
        top: /*920px*/ 107.101vw;
    }
    
    .sc3-con img {
        width: /*190px*/ 22.119vw;
        margin: 0 auto;
    }
    
    .sc3-con:nth-child(1) img {
        margin-top: /*10px*/ 1.164vw;
    }
    
    .sc3-con:nth-child(2) img {
        margin-top: /*47px*/ 5.471vw;
    }
    
    .sc3-con:nth-child(3) img {
        margin-top: /*47px*/ 5.471vw;
    }
    
    .sc3-con:nth-child(4) img {
        margin-top: /*10px*/ 1.164vw;
    }
    
    .sc3-con-txt {
        width: 100%;
        font: 14px/20px 'NanumSquareNeo-Variable';
        text-align: center;
        position: absolute;
        bottom: /*40px*/ 4.657vw;
    }
    
    #sc3-right-wrap {
        width: 100%;
        height: /*820px*/ 95.460vw;
        float: right;
        /*background-color: lightcoral;*/
        position: relative;
        top: /*80px*/ 9.313vw;
    }
    
    .sc3-right-img {
        width: 100%;
        height: /*820px*/ 95.460vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #sc3-right-img-1 {
        background-image: url(../img/section3/right1.png);
        position: absolute;
        top: 0;
    }
    
    #sc3-right-img-2 {
        background-image: url(../img/section3/right2.png);
        position: absolute;
        top: 0;
        display: none;
    }
    
    #sc3-right-img-3 {
        background-image: url(../img/section3/right3.png);
        position: absolute;
        top: 0;
        display: none;
    }
    
    #sc3-right-gall {
        width: 35px;
        height: 30px;
        /*background-color: lightblue;*/
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -17.5px;
    }
    
    .sc3-right-num {
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        margin-right: 10px;
        float: left;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .sc3-right-num:last-child {
        margin-right: 0;
    }
    
    .sc3-right-num-add {
        background-color: #585858;
    }
    
    .sc3-con:hover .sc3-img {
        transform: scale(1.1);
        transition-duration: 0.2s;
    }
    
    /*section-3 end*/
    
    
    #section-4  {
        height: /*650px*/ 90vw;
        margin-top: 60px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    /*#sc4-box {
        width: 350px;
        height: 480px;
        background-color: #FAF7F5;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }*/
    
    #sc4-left-line, #sc4-left-txt {
        display: none;
    }
    
    #sec4-title-txt-wrap {
        width: 100%;
        height: 65px;
        /*background-color: lightblue;*/
    }
    
    #sec4-title-txt-wrap .sec-title {
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    #sec4-title-txt-wrap .sec-sub-txt {
        display: none;
    }
    
    #sc4-hide {
        width: 1500px;
        height: 550px;
        position: relative;
        top: 20px;
        left: 0;
        overflow: hidden;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc4-img-wrap {
        width: /*347.5px*/ 39vw;
        height: /*410px*/ 47.730vw;
        /*background-color: lightcyan;*/
        position: absolute;
    }
    
    #sc4-img-wrap img {
        width: /*347.5px*/ 39vw;
        height: /*413px*/ 48.079vw;
        margin-right: /*20px*/ 40.454vw;
        float: left;
        cursor: pointer;
        border-radius: 5px;
    }
    
    #sc4-img-wrap img:last-child {
        margin-right: 0;
    }
    
    .sc4-inbox-wrap {
        width: 100%;
        height: 50px;
        /*background-color: lightcoral;*/
        position: absolute;
        bottom: -65px;
        left: 0;
        z-index: 10;
        font: 14px/23px 'NanumSquareNeo-Variable';
        text-align: center;
    }
    
    .sc4-inbox-txt {
        display: none;
    }
    
    .sc4-inbox-txt-bottom {
        color: rgba(0,0,0,0.5);
    }
    
    .sc4-con-box {
        width: /*347.5px*/ 39vw;
        height: /*410px*/ 47.730vw;
        position: absolute;
    }
    
    #sc4-con-box-1 {
        left: 1472px;
    }
    
    #sc4-con-box-2 {
        display: none;
    }
    
    /*section-4 end*/
    
    
    #section-5 {
        height: 80vh;
        background-color: #272727;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #sc5-left {
        display: none;
    }
    
    #sc5-right {
        width: 100%;
        height: 80vh;
        /*background-color: lightcoral;*/
        float: right;
        color: #e2e2e2;
        position: relative;
        background-image: url(../img/section5/right.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*background-attachment: fixed;*/
    }
    
    #sc5-right-txt-wrap {
        width: 100%;
        height: 340px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 50%;
        margin-top: -180px;
    }
    
    #sc5-right-top {
        width: 100%;
        text-align: center;
        font: 24px/28px 'Calisto MT';
    }
    
    #sc5-right-center {
        width: 100%;
        /*background-color: lightcyan;*/
        text-align: center;
        font: 13px/14px 'NanumSquareNeo-Variable';
        margin: 45px 0;
    }
    
    #sc5-right-center-txt {
        width: 170px;
        height: 40px;
        border: 1px solid #909090;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font: 14px/40px 'NanumSquareNeo-Variable';
        margin: 12px auto;
        cursor: pointer;
    }
    
    #sc5-right-bottom {
        width: 100%;
        height: 100px;
        /*background-color: lightgreen;*/
        text-align: center;
        font: 14px/21px 'NanumSquareNeo-Variable';
    }
    
    #sc5-right-under {
        width: 100%;
        font: 12px/21px 'NanumSquareNeo-Variable';
        text-align: center;
        position: absolute;
        bottom: 20px;
        right: 0;
        opacity: 0.7;
    }
    
    /*section-5 end*/
    
    
    #section-6 {
        display: none;
    }
    
    /*section-6 end*/
    
    
    #section-7 {
        height: /*900px*/ 104.773vw;
        margin-top: 110px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc7-left {
        width: /*220px*/ 25.611vw;
        height: /*230px*/ 26.775vw;
        float: left;
        /*background-color: lightgreen;*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    #sec7-title-txt-wrap {
        width: /*300px*/ 34.924vw;
        /*background-color: lightcyan;*/
        padding-top: /*50px*/ 3vw;
    }
    
    #sec7-title-txt-wrap .sec-title {
        font: 3.492vw/5vw 'Calisto MT';
        margin-bottom: 50px;
    }
    
    #sec7-title-txt-wrap .sec-sub-txt {
        display: none;
    }
    
    #sc7-btn-wrap {
        display: none;
    }
    
    #sc7-right-wrap {
        width: 100%;
        height: 100%;
        float: right;
        /*background-color: lightcoral;*/
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .sc7-right-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        position: absolute;
    }
    
    .sc7-right-img:nth-child(1) {
        width: 100%;
        height: /*600px*/ 69.849vw;
        float: left;
        background-image: url(../img/section7/left-img.png);
        top: /*250px*/ 28.5vw;
    }
    
    .sc7-right-img:nth-child(2) {
        width: /*220px*/ 25.611vw;
        height: /*230px*/ 26.775vw;
        float: left;
        margin-right: /*20px*/ 2vw;
        background-image: url(../img/section7/right-top.png);
        top: 0;
        right: /*220px*/ 25.611vw;
    }
    
    .sc7-right-img:nth-child(3) {
        width: /*220px*/ 25.611vw;
        height: /*230px*/ 26.775vw;
        float: left;
        background-image: url(../img/section7/right-bottom.png);
        top: 0;
        right: 0;
    }
    
    /*section-7 end*/
    
    
    footer {
        height: 250px;
        margin-top: 85px;
        background-color: #5C5A4A;
    }
    
    #footer-top {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #7e7e7e;
        padding-top: 55px;
    }
    
    #footer-top img {
        width: 100px;
        margin: 0 auto;
    }
    
    #footer-bottom {
        width: 100%;
        height: 120px;
        /*background-color: lightblue;*/
        margin-top: 25px;
        font: 12px/18px 'NanumSquareNeo-Variable';
        color: #acacac;
    }
    
    #footer-bottom-left {
        width: 100%;
        height: 100%;
        /*background-color: lightcyan;*/
        float: left;
        text-align: center;
    }
    
    #footer-bottom-center {
        display: none;
    }
    
    #footer-bottom-right {
        display: none;
    }
    
    /*footer end*/
    
    
    #header-menu-btn {
        width: 29px;
        /*background-color: lightcoral;*/
        float: left;
        margin-left: 25px;
        margin-top: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: 12;
    }
    
    #header-menu-btn li {
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-bottom: 7px;
        transition: 0.3s;
    }
    
    #header-menu-btn li:last-child {
        margin-bottom: 0;
    }
    
    #menu-mask {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
    }
    
    #menu-wrap {
        width: 380px;
        height: 100vh;
        background-color: #fff;
        float: right;
        position: absolute;
        left: -500px;
    }
    
    #menu-head {
        width: 100%;
        height: 75px;
        border-bottom: 1px solid #e3e3e3;
        box-sizing: border-box;
    }
    
    #menu-head img {
        width: 90px;
        margin: 0 auto;
        padding-top: 34px;
    }
    
    .menu-title {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #e3e3e3;
        box-sizing: border-box;
        font: 14px/55px 'NanumSquareNeo-Variable';
        cursor: pointer;
        position: relative;
    }
    
    .menu-title li {
        text-align: left;
        margin-left: 35px;
    }
    
    .sub-menu {
        width: 100%;
        background-color: #f4f4f4;
        box-sizing: border-box;
        font: 14px/45px 'NanumSquareNeo-Variable';
        cursor: pointer;
        display: none;
        overflow: hidden;
    }
    
    .sub-menu li {
        width: 100%;
        height: 45px;
        text-align: left;
        padding-left: 50px;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .arrow-wrap {
        position: absolute;
        top: 26px;
        right: 35px;
        float: right;
    }
    
    .arrow-wrap {
        width: 11px;
    }
    
    .arrow-wrap img {
        width: 11px;
    }
    
    .menu-title .arrow-top {
      display: none;
    }
    .menu-title .arrow-bt {
      display: block;
    }
    .menu-title.on .arrow-bt {
      display: none;
    }
    .menu-title.on .arrow-top {
      display: block; 
    }
    
    /*menu end*/
    
    
    
    
    
    
    
    
} /*mo end*/