@media all and (max-width: 1399px) and (min-width: 1180px){
    
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    #wrap {
        width: 100%;
        overflow: hidden;
        cursor: default;
    }
    
    header, section, footer {
        width: 100%;
        position: relative;
    }
    
    .container, #in-footer {
        width: 1100px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    /**/
    
    header {
        height: 70px;
        /*background-color: lightblue;*/
        z-index: 1;
    }
    
    #header-logo {
        width: 118px;
        float: left;
        margin-top: 32px;
        margin-left: 130px;
    }
    
    #header-menu-wrap {
        float: right;
        margin-top: 30px;
        margin-right: 50px;
    }
    
    #header-menu-wrap li {
        float: left;
        margin-left: 60px;
    }
    
    #header-menu-wrap li a {
        font: 14px/14px 'NanumSquareNeo-Variable';
        color: #fff;
    }
    
    /*header end*/
    
    
    #section-1 {
        width: 100%;
        height: 80vh;
        background-color: #5C5A4A;
        margin-top: -70px;
    }
    
    #sc1-line {
        width: 1px;
        height: 100vh;
        background-color: #ffffff;
        opacity: 0.3;
        position: absolute;
        top: 0;
        z-index: 3;
        left: 86px;
        float: left;
    }
    
    #sc1-back {
        width: 910px;
        position: absolute;
        top: 110px;
        left: 50%;
        margin-left: -455px;
    }
    
    #bannerWrap {
        width: 900px;
        height: 700px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 190px;
        left: 50%;
        margin-left: -450px;
        z-index: 1;
    }
    
    #sc1-bigtxt-wrap {
        width: 100%;
        /*background-color: lightgray;*/
    }
    
    #sc-bt-1 {
        width: 710px;
        margin-left: 190px;
    }
    
    #sc-bt-2 {
        width: 310px;
        margin-top: 10px;
        margin-left: -15px;
    }
    
    #sc-bt-3 {
        width: 395px;
        margin-left: 120px;
        margin-top: 40px;
        position: absolute;
        z-index: 10;
    }
    
    #sc-bt-4 {
        width: 445px;
        margin-left: 510px;
        margin-top: 140px;
    }
    
    #sc1-banner {
        width: 800px;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -400px;
    }
    
    #sc1-txt-wrap {
        width: 300px;
        height: 150px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 140px;
        right: -110px;
        z-index: 11;
    }
    
    #sc1-txt {
        width: 100%;
        height: 100px;
        /*background-color: lightgray;*/
        font: 14px/20px 'NanumSquareNeo-Variable';
        color: rgba(255, 255, 255, 0.5);
    }
    
    #sc1-txt-arrow {
        width: 100%;
        height: 20px;
        /*background-color: lightcoral;*/
    }
    
    #sc1-txt-arrow a {
        font: 14px/20px 'NanumSquareNeo-Variable';
        color: rgba(255, 255, 255, 0.5);
        float: left;
        cursor: pointer;
    }
    
    #sc1-txt-arrow img {
        width: 13px;
        margin-left: 65px;
        padding-top: 4px;
        opacity: 0.5;
        cursor: pointer;
    }
    
    #arrow-wrap {
        width: 150px;
        height: 65px;
        /*background-color: lightgray;*/
        position: absolute;
        bottom: 230px;
        left: -10px;
    }
    
    .arrow-circle {
        width: 65px;
        height: 65px;
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 50px;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
    }
    
    .arrow-circle:last-child {
        float: right;
    }
    
    .arrow-circle img {
        width: 18px;
        margin-top: 22px;
        margin-left: 22px;
    }
    
    .arrow-circle:last-child img {
        margin-left: 23px;
    }
    
    /*section-1 end*/
    
    
    #section-2 {
        height: 540px;
        margin-top: 260px;
        /*background-color: lightcyan;*/
    }
    
    #sc2-menu-wrap {
        height: 50px;
        /*background-color: lightgoldenrodyellow;*/
        font: 16px/50px 'NanumSquareNeo-Variable';
    }
    
    .sc2-menu {
        margin-right: 60px;
        float: left;
        cursor: pointer;
        color: rgba(0,0,0,0.5);
    }
    
    .sc2-add {
        font-weight: 600;
        color: rgb(0,0,0,1);
    } /*addclass*/
    
    #sc2-right-btn {
        float: right;
        font: 14px/50px 'NanumSquareNeo-Variable';
    }
    
    #sc2-con-all {
        width: 100%;
        height: 370px;
        /*background-color: lightcoral;*/
        position: relative;
        top: 20px;
        overflow: hidden;
    }
    
    .sc2-con-wrap {
        width: 2000px;
        height: 370px;
        /*background-color: lightgoldenrodyellow;*/
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .sc2-con {
        width: 282px;
        height: 370px;
        /*background-color: lightgreen;*/
        float: left;
    }
    
    .sc2-con:last-child {
        margin-right: 0;
    }
    
    .sc2-con-img {
        width: 255px;
        cursor: pointer;
    }
    
    .sc2-txt-wrap {
        width: 302.5px;
        cursor: pointer;
    }
    
    .sc2-txt {
        width: 255px;
        font: 15px/25px 'NanumSquareNeo-Variable';
        text-align: center;
        margin-top: 15px;
    }
    
    .sc2-pr {
        width: 255px;
        font: 15px/25px 'NanumSquareNeo-Variable';
        margin-right: 2px;
        text-align: center;
        color: rgba(0,0,0,0.5);
    }
    
    #sc2-con-wrap-2, #sc2-con-wrap-3,#sc2-con-wrap-4 {
        display: none;
    }
    
    .sc2-arrow-wrap {
        width: 70px;
        height: 30px;
        /*background-color: lawngreen;*/
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -35px;
    }
    
    .sc2-arrow {
        width: 30px;
        height: 30px;
        border: 1px solid #9f9f9f;
        box-sizing: border-box;
        border-radius: 5px;
        float: left;
        font: 16px/30px 'NanumSquareNeo-Variable';
        text-align: center;
        color: #717171;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .sc2-arrow:last-child {
        margin-right: 0;
    }
    
    #sc2-arrow-wrap-2, #sc2-arrow-wrap-3, #sc2-arrow-wrap-4 {
        display: none;
    }
    
    /*section-2 end*/
    
    
    #section-3 {
        height: 470px;
        margin-top: 110px;
        /*background-color: lightcyan;*/
    }
    
    #sc3-left-wrap {
        width: 100%;
        height: 470px;
        float: left;
    }
    
    #sec3-title-txt-wrap {
        width: 100%;
        height: 90px;
        /*background-color: lightgoldenrodyellow;*/
        float: left;
    }
    
    .sec-title {
        font: 600 17px/17px 'NanumSquareNeo-Variable';
        margin-bottom: 15px;
    }
    
    .sec-sub-txt {
        font: 15px/15px 'NanumSquareNeo-Variable';
        float: left;
    }
    
    .sec-right-btn {
        font: 15px/15px 'NanumSquareNeo-Variable';
        float: right;
    }
    
    #sc3-con-wrap {
        width: 100%;
        height: 350px;
        /*background-color: lightgreen;*/
        float: left;
    }
    
    .sc3-con {
        width: 255px;
        height: 315px;
        float: left;
        background-color: #F7F7F7;
        margin-right: 26px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .sc3-con:last-child {
        margin-right: 0;
    }
    
    .sc3-con img {
        width: 155px;
        margin: 0 auto;
    }
    
    .sc3-con:nth-child(1) img {
        margin-top: 3px;
    }
    
    .sc3-con:nth-child(2) img {
        margin-top: 40px;
    }
    
    .sc3-con:nth-child(3) img {
        margin-top: 40px;
    }
    
    .sc3-con:nth-child(4) img {
        margin-top: 3px;
    }
    
    .sc3-con-txt {
        width: 100%;
        font: 15px/23px 'NanumSquareNeo-Variable';
        text-align: center;
        position: absolute;
        bottom: 40px;
    }
    
    #sc3-right-wrap {
        display: none;
    }
    
    #sc3-under-wrap {
        width: 100%;
        height: 300px;
        float: right;
        background-color: lightcoral;
        background-image: url(../img/section3/mo-under.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .sc3-con:hover .sc3-img {
        transform: scale(1.1);
        transition-duration: 0.2s;
    }
    
    /*section-3 end*/
    
    
    #section-4  {
        height: 580px;
        margin-top: 440px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc4-box {
        width: 350px;
        height: 580px;
        background-color: #FAF7F5;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    #sc4-left-line, #sc4-left-txt {
        display: none;
    }
    
    #sec4-title-txt-wrap {
        width: 300px;
        height: 160px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 180px;
        left: 0;
        z-index: 5;
    }
    
    #sec4-title-txt-wrap .sec-title {
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    #sec4-title-txt-wrap .sec-sub-txt {
        line-height: 22px;
        margin-top: 15px;
    }
    
    #sc4-hide {
        width: 1500px;
        height: 300px;
        position: relative;
        top: 130px;
        left: 370px;
        overflow: hidden;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc4-img-wrap {
        width: 223px;
        height: 265px;
        /*background-color: lightcyan;*/
        position: absolute;
    }
    
    .swiper-slide {
        overflow: hidden;
    }
    
    #sc4-img-wrap img {
        width: 223px;
        height: 265px;
        margin-right: 30px;
        float: left;
        cursor: pointer;
    }
    
    #sc4-img-wrap img:last-child {
        margin-right: 0;
    }
    
    .sc4-hover-box {
        width: 223px;
        height: 345px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        transition: 0.3s;
    }
    
    .sc4-inbox-wrap {
        width: 223px;
        height: 185px;
        background-color: #fff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        bottom: -185px;
        left: 0;
        z-index: 3;
        text-align: center;
        transition: 0.3s;
    }
    
    .sc4-inbox-txt-top {
        width: 100%;
        height: 56px;
        font: 600 14px/55px 'NanumSquareNeo-Variable';
        /*background-color: lightcoral;*/
        padding-top: 14px;
    }
    
    .sc4-inbox-txt {
        width: 100%;
        height: 66px;
        font: 13px/19px 'NanumSquareNeo-Variable';
        /*background-color: lightblue;*/
    }
    
    .sc4-inbox-txt-bottom {
        width: 100%;
        height: 56px;
        font: 13px/30px 'NanumSquareNeo-Variable';
        /*background-color: lightcyan;*/
    }
    
    .sc4-con-box {
        width: 223px;
        height: 345px;
        position: absolute;
        overflow: hidden;
    }
    
    #sc4-con-box-1 {
        left: 1011px;
    }
    
    #sc4-con-box-2 {
        left: 1263px;
    }
    
    .swiper-slide:hover .sc4-inbox-wrap {
        bottom: 0;
        transition: 0.3s;
    }
    
    .swiper-slide:hover .sc4-hover-box {
        opacity: 1;
        transition: 0.3s;
    }
    
    .swiper-slide:hover {
        box-shadow: 3px 3px 15px 3px #f0f0f0;
        transition: 0.3s;
    }
    
    .sc4-con-box:hover .sc4-inbox-wrap {
        bottom: 0;
        transition: 0.3s;
    }
    
    .sc4-con-box:hover .sc4-hover-box {
        opacity: 1;
        transition: 0.3s;
    }
    
    .sc4-con-box:hover {
        box-shadow: 3px 3px 15px 3px #f0f0f0;
        transition: 0.3s;
    }
    
    /*section-4 end*/
    
    
    #section-5 {
        height: 90vh;
        background-color: #272727;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #sc5-left {
        width: 50%;
        height: 90vh;
        float: left;
        color: #e2e2e2;
        position: relative;
        background-image: url(../img/section5/left.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #sc5-left p {
        width: 100%;
        height: 40px;
        font: 33px/33px 'Calisto MT';
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -20px;
    }
    
    #sc5-right {
        width: 50%;
        height: 90vh;
        /*background-color: lightcoral;*/
        float: right;
        color: #e2e2e2;
        position: relative;
        background-image: url(../img/section5/right.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*background-attachment: fixed;*/
    }
    
    #sc5-right-txt-wrap {
        width: 100%;
        height: 340px;
        /*background-color: lightblue;*/
        position: absolute;
        top: 50%;
        margin-top: -180px;
    }
    
    #sc5-right-top {
        width: 100%;
        text-align: center;
        font: 29px/33px 'Calisto MT';
    }
    
    #sc5-right-center {
        width: 100%;
        /*background-color: lightcyan;*/
        text-align: center;
        font: 14px/14px 'NanumSquareNeo-Variable';
        margin: 45px 0;
    }
    
    #sc5-right-center-txt {
        width: 170px;
        height: 45px;
        border: 1px solid #b9b9b9;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font: 15px/45px 'NanumSquareNeo-Variable';
        margin: 12px auto;
        cursor: pointer;
    }
    
    #sc5-right-bottom {
        width: 100%;
        height: 100px;
        /*background-color: lightgreen;*/
        text-align: center;
        font: 15px/21px 'NanumSquareNeo-Variable';
    }
    
    #sc5-right-under {
        width: 100%;
        font: 13px/21px 'NanumSquareNeo-Variable';
        text-align: center;
        position: absolute;
        bottom: 30px;
        right: 0;
        opacity: 0.7;
    }
    
    /*section-5 end*/
    
    
    #section-6 {
        height: 750px;
        margin-top: 180px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc6-left {
        width: 35vw;
        height: 650px;
        /*background-color: lightblue;*/
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/section6/left-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #sec6-title-txt-wrap {
        width: 670px;
        float: right;
        /*background-color: lightcyan;*/
        margin: 100px 0 40px 0;
        position: relative;
    }
    
    #sec6-title-txt-wrap .sec-title {
        position: absolute;
        top: -35px;
        left: 0;
    }
    
    #sec6-title-txt-wrap .sec-sub-txt {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #sc6-img-wrap {
        float: right;
        /*background-color: lightgreen;*/
    }
    
    #sc6-img-wrap img {
        width: 260px;
        margin-right: 30px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        float: left;
    }
    
    #sc6-img-wrap img:last-child {
        margin-right: 0;
    }
    
    #sc6-txt {
        /*background-color: lightcoral;*/
        font: 15px/23px 'NanumSquareNeo-Variable';
        float: right;
        text-align: right;
        margin-top: 35px;
    }
    
    /*section-6 end*/
    
    
    #section-7 {
        height: 650px;
        margin-top: 90px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc7-left {
        width: 300px;
        height: 100%;
        float: left;
        /*background-color: lightgreen;*/
    }
    
    #sec7-title-txt-wrap {
        width: 300px;
        height: 380px;
        /*background-color: lightcyan;*/
        padding-top: 70px;
    }
    
    #sec7-title-txt-wrap .sec-title {
        font: 30px/35px 'Calisto MT';
        margin-bottom: 50px;
    }
    
    #sec7-title-txt-wrap .sec-sub-txt {
        font: 15px/23px 'NanumSquareNeo-Variable';
        margin-bottom: 50px;
    }
    
    #sc7-btn-wrap {
        width: 170px;
        height: 40px;
        border: 1px solid #ADADAD;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
    }
    
    #sc7-btn {
        font: 15px/40px 'NanumSquareNeo-Variable';
        margin-left: 15px;
        float: left;
    }
    
    #sc7-btn-wrap img {
        width: 42px;
        float: right;
        margin-top: 15px;
        margin-right: 15px;
    }
    
    #sc7-right-wrap {
        width: 740px;
        height: 100%;
        float: right;
        /*background-color: lightcoral;*/
    }
    
    .sc7-right-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .sc7-right-img:nth-child(1) {
        width: 480px;
        height: 570px;
        float: left;
        background-image: url(../img/section7/left-img.png);
    }
    
    .sc7-right-img:nth-child(2) {
        width: 230px;
        height: 272.5px;
        float: right;
        margin-bottom: 25px;
        background-image: url(../img/section7/right-top.png);
    }
    
    .sc7-right-img:nth-child(3) {
        width: 230px;
        height: 272.5px;
        float: right;
        background-image: url(../img/section7/right-bottom.png);
    }
    
    /*section-7 end*/
    
    
    footer {
        height: 350px;
        margin-top: 120px;
        background-color: #5C5A4A;
    }
    
    #footer-top {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #7e7e7e;
        padding-top: 75px;
    }
    
    #footer-top img {
        width: 130px;
    }
    
    #footer-bottom {
        width: 100%;
        height: 150px;
        /*background-color: lightblue;*/
        margin-top: 35px;
        font: 13px/21px 'NanumSquareNeo-Variable';
        color: #acacac;
    }
    
    #footer-bottom-left {
        width: 600px;
        height: 100%;
        /*background-color: lightcyan;*/
        float: left;
    }
    
    #footer-bottom-center {
        width: 200px;
        height: 100%;
        /*background-color: lightgray;*/
        float: left;
        margin-left: 95px;
    }
    
    #footer-bottom-right {
        width: 160px;
        height: 100%;
        /*background-color: lightcyan;*/
        float: right;
    }
    
    #footer-bottom-right img {
        width: 17px;
        float: left;
        margin: 3px 10px 0 0;
        opacity: 0.5;
    }
    
    /*footer end*/
    
    
    #header-menu-btn {
        width: 29px;
        /*background-color: lightcoral;*/
        float: left;
        margin-left: 30px;
        margin-top: 33px;
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: 12;
    }
    
    #header-menu-btn li {
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-bottom: 7px;
        transition: 0.3s;
    }
    
    #header-menu-btn li:last-child {
        margin-bottom: 0;
    }
    
    #menu-mask {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
    }
    
    #menu-wrap {
        width: 450px;
        height: 100vh;
        background-color: #fff;
        float: right;
        position: absolute;
        left: -500px;
    }
    
    #menu-head {
        width: 100%;
        height: 85px;
        border-bottom: 1px solid #e3e3e3;
        box-sizing: border-box;
    }
    
    #menu-head img {
        width: 100px;
        margin: 0 auto;
        padding-top: 34px;
    }
    
    .menu-title {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #e3e3e3;
        box-sizing: border-box;
        font: 15px/60px 'NanumSquareNeo-Variable';
        cursor: pointer;
        position: relative;
    }
    
    .menu-title li {
        text-align: left;
        margin-left: 35px;
    }
    
    .sub-menu {
        width: 100%;
        background-color: #f4f4f4;
        box-sizing: border-box;
        font: 15px/50px 'NanumSquareNeo-Variable';
        cursor: pointer;
        display: none;
        overflow: hidden;
    }
    
    .sub-menu li {
        width: 100%;
        height: 50px;
        text-align: left;
        padding-left: 50px;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .arrow-wrap {
        position: absolute;
        top: 26px;
        right: 35px;
        float: right;
    }
    
    .arrow-wrap {
        width: 11px;
    }
    
    .arrow-wrap img {
        width: 11px;
    }
    
    .menu-title .arrow-top {
      display: none;
    }
    .menu-title .arrow-bt {
      display: block;
    }
    .menu-title.on .arrow-bt {
      display: none;
    }
    .menu-title.on .arrow-top {
      display: block; 
    }
    
    /*menu end*/
    
    
    
    
    
    
    
    
} /*tab end*/