@media all and (max-width: 999px) and (min-width: 650px) {
    
    
    /*공통영역*/
    
    #wrap {
        width: 100%;
        overflow: hidden;
        background-color: #0f0f0f;
    }
    
    header, section {
        width: 100%;
        position: relative;
    }
    
    .container {
        width: 88%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        color: #d8d8d8;
    }
    
    /*공통영역 end*/
    
    
    header {
        height: 70px;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    
    #menu-btn {
        width: 47px;
        height: 23px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -23.5px;
        cursor: pointer;
    }
    
    #menu-btn li {
        width: 100%;
        height: 10px;
        border-top: 1px solid #c4c4c4;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }
    
    #header-left {
        width: 200px;
        height: 100px;
        position: relative;
        top: 50px;
        left: 55px;
        z-index: 5;
    }
    
    #logo {
        width: 30px;
        opacity: 0.4;
        float: left;
    }
    
    #header-left-txt {
        display: none;
    }
    
    #title {
        font-family: 'Khand';
        font-size: 22px;
        color: #d8d8d8;
        padding-top: 40px;
        opacity: 0.4;
    }
    
    #header-left-line {
        width: 100%;
        height: 1px;
        background-color: #4d4d4d;
        position: absolute;
        top: 35px;
        left: -5px;
    }
    
    /*header ----------*/
    
    
    section {
        height: 3465px;
        /*height: 960px;*/
        margin-top: 140px;
        /*background-color: lightgoldenrodyellow;*/
    }
    
    #sc-title, #sc-title-pc2, #sc-title-mo {
        display: none;
    }
    
    #sc-title-tab {
        width: 150px;
        height: 80px;
        margin: 0 auto;
    }
    
    #sc-title-tab li {
        width: 60px;
        height: 100%;
        float: left;
        margin-right: 30px;
    }
    
    #sc-title-tab li:last-child {
        margin-right: 0;
    }
    
    .title-name-tab {
        width: 100%;
        height: 30px;
        font: 600 30px/30px 'Khand';
        text-align: center;
        color: #4a4a4a;
        cursor: pointer;
    }
    
    .title-name-this-tab {
        color: #b2b2b2;
    }/*addclass*/
    
    .title-dot-tab {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #4a4a4a;
        margin: 20px auto;
    }
    
    .title-dot-this-tab {
        background-color: #b2b2b2;
    } /*addclass*/
    
    .project-wrap {
        width: 100%;
        height: 2550px;
        /*height: 710px;*/
        margin-top: 70px;
        /*background-color: lightblue;*/
    }
    
    .project-con {
        width: 100%;
        height: 320px;
        /*background-color: cadetblue;*/
    }
    
    .project {
        width: 50%;
        height: 320px;
        /*margin-right: 21px;*/
        float: left;
        /*background-color: cornflowerblue;*/
    }
    
    .project-right {
        float: right;
    }
    
    /*.project-last {
        margin-right: 0;
    }*/
    
    .pro-img {
        width: 96%;
        height: 220px;
        background-color: #adadad;
    }
    
    .pro-name {
        width: 100%;
        height: 50px;
        font: 600 17px/50px '';
        text-align: center;
    }
    
    .pro-name a {
        color: #bababa;
    }
    
    .pro-name span {
        font: 13px/50px '';
        color: #919191;
    }
    
    #project-wrap-3d {
        position: absolute;
        top: 80px;
        display: none;
    }
    
    #eng {
        font-family: 'Khand';
        font-size: 20px;
        color: #c6c6c6;
    }
    
    /*section ----------*/
    
    
    #in-footer {
        font-size: 11px;
        margin-top: 90px;
        color: #464646;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /*footer ----------*/
    
    
    #menu-wrap {
        width: 100%;
        height: 100vh;
        background-color: /*#121212*/ #0f0f0f;
        position: absolute;
        top: -1100px;
        /*top: 0;*/
        left: 0;
        z-index: 10;
    }
    
    #in-menu-wrap {
        width: 500px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -260px;
        margin-left: -250px;
        text-align: center;
        font-family: 'Khand';
    }
    
    #in-menu-wrap li, #in-menu-wrap li a {
        color: #c6c6c6;
    }
    
    .menu-line {
        width: 100%;
        height: 1px;
        background-color: #383838;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .menu-title {
        width: 200px;
        height: 65px;
        font: 800 40px/65px 'Khand';
        margin: 0 auto;
    }
    
    #menu-pro {
        width: 100%;
        height: 110px;
        font: 800 82px/110px 'Khand';
        margin-bottom: 5px;
    }
    
    .menu-project {
        width: 250px;
        height: 46px;
        font: 21px/46px 'Khand';
        margin: 0 auto;
    }
    
    .menu-hover-line {
        width: 0px;
        height: 1px;
        margin-left: 110px;
        margin-top: -5px;
        background-color: #c1c1c1;
        transition: 0.3s;
    }
    
    .menu-project:hover .menu-hover-line {
        width: 30px;
    }
    
    .menu-title:hover #menu-a {
        color: #808080;
    }
    
    /*menu ----------*/
    
    
    
    
    
    
    
    
    
    
    
    
} /*ani_tab end*/